:root {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  color: white;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
}

.body_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: min-content;
}